 .o-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-gap: 1rem;
  }
 .grid-container--fill {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }
  
  .grid-container--fit {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
  @media (min-width: 300px) {
    .wrapper {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
  }